<div class="container">
  <div class="row">
    <%= link_to t(".new_question_bank"), new_question_bank_path %>
  </div>
  <div class="row">
      <%= link_to t(".question_bank_list"), question_banks_path %>
  </div>
  <div class="row">
    <%= link_to t(".new_category"), new_category_path %>
  </div>
  <div class="row">
    <%= link_to t(".category_list"), categories_path %>
  </div>
  <div class="row">
    <%= link_to t(".new_exam"), new_exam_path %>
  </div>
  <div class="row">
    <%= link_to t(".exam_list"), exams_path %>
  </div>
</div>
