<h1><%= t ".question_banks" %></h1>

<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th><%= t ".bank_name" %></th>
        <th><%= t ".link" %></th>
        <th><%= t ".category" %></th>
        <th><%= t ".delete" %></th>
      </tr>
    </thead>
    <tbody>
      <%= render @question_banks %>
    </tbody>
  </table>
</div>
