<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-7">
    <% @questions.each_with_index do
      |question, index| %>
      <div class="row">
        <b><%= t ".question" %> <%= index + 1 %></b>.
        <%= question.content %>
      </div>
      <% question.answers.each.with_index(1) do |answer, index| %>
        <div class="row">
          <%= index %>.
          <% if answer.correctness == "correct" %>
            <b class="correct-answer"><%= answer.content %></b>
          <% else %>
            <%= answer.content %>
          <% end %>
          <br>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
